In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
plt.style.use('ggplot')
%matplotlib inline

### Data

In [2]:
sale = pd.read_excel("UNO_Sale_vs_RCVD.xlsx")
sale.columns = sale.columns.str.replace(" ","_")
sale.columns

Index(['STYLE#', 'COLOR', 'DESCRIPTION', 'CUST_#', 'INVC_DATE', 'QTY',
       'UNIT_PRICE', 'EXT-AMT', 'REASON', 'IMPORT_HANDMADE', 'MANUFACTORS',
       'State_sold', 'ZIP_sold', 'RELEASED_YEAR', 'Seasos', 'Season_target',
       'LAST_RCVD', 'FIRST_RCVD', 'LAST_INVOICED', 'FIRST_INVOICED'],
      dtype='object')

In [3]:
sale.shape

(111043, 20)

In [5]:
sale.head()

,STYLE#,COLOR,DESCRIPTION,CUST_#,INVC_DATE,QTY,UNIT_PRICE,EXT-AMT,REASON,IMPORT_HANDMADE,MANUFACTORS,State_sold,ZIP_sold,RELEASED_YEAR,Seasos,Season_target,LAST_RCVD,FIRST_RCVD,LAST_INVOICED,FIRST_INVOICED
0,DTA1A9500,IV,SEED BEAD ANKLET,CB001,2016-04-12,144,4.00,576.0,NaN,IMPORT,ICC,FL,33708,2016,2016 1ST,SS16,2016-04-12 00:00:00,2016-04-12 00:00:00,2018-10-03,2016-04-12
1,DTA1A9500,MUL,SEED BEAD ANKLET,CB001,2016-04-12,144,4.00,576.0,NaN,IMPORT,ICC,FL,33708,2016,2016 1ST,SS16,2016-04-12 00:00:00,2016-04-12 00:00:00,2018-10-03,2016-04-12
2,DTA1A9500,TQ,SEED BEAD ANKLET,CB001,2016-04-12,144,4.00,576.0,NaN,IMPORT,ICC,FL,33708,2016,2016 1ST,SS16,2016-04-12 00:00:00,2016-04-12 00:00:00,2018-10-03,2016-04-12
3,DTA1B2029,WG-COR,3 ROW WOOD BEAD STRETCH BR,CHE005,2016-05-20,12,3.25,39.0,NaN,IMPORT,NOBLES,LA,71235,2016,2016 1ST,SS16,2016-04-11 00:00:00,2016-04-04 00:00:00,2018-10-03,2016-04-04
4,DTA1B2029,WG-COR,3 ROW WOOD BEAD STRETCH BR,GMA01,2016-08-22,24,3.25,78.0,NaN,IMPORT,NOBLES,0,0,2016,2016 1ST,SS16,2016-04-11 00:00:00,2016-04-04 00:00:00,2018-10-03,2016-04-04

In [7]:
inv = pd.read_excel("UNO_inventory_item.xlsx")
inv.columns = inv.columns.str.replace(" ","_")
inv.columns

Index(['STYLE#', 'COLOR', 'Description', 'LAST_RCVD', 'Qty', 'On-Hand',
       'CB_Reason', 'ToWH'],
      dtype='object')

In [8]:
inv.shape

(144726, 8)

In [9]:
inv.head()

,STYLE#,COLOR,Description,LAST_RCVD,Qty,On-Hand,CB_Reason,ToWH
0,DTA1A9500,IV,SEED BEAD ANKLET,2016-04-12,-144.0,0.0,NaN,NaN
1,DTA1A9500,IV,SEED BEAD ANKLET,2016-04-12,144.0,0.0,NaN,NaN
2,DTA1A9500,MUL,SEED BEAD ANKLET,2016-04-12,-144.0,0.0,NaN,NaN
3,DTA1A9500,MUL,SEED BEAD ANKLET,2016-04-12,144.0,0.0,NaN,NaN
4,DTA1A9500,TQ,SEED BEAD ANKLET,2016-04-12,-144.0,0.0,NaN,NaN

### Formatting date columns

In [13]:
sale['INVC_DATE'] = [lambda x: datetime.strptime(sale['INVC_DATE'], '%y-%m-%d')

TypeError: strptime() argument 1 must be str, not Series

In [14]:
sale['INVC_DATE'][1]

Timestamp('2016-04-12 00:00:00')