# Data Cleaning

Reading CSV & Importing Packages

In [267]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
plt.style.use('ggplot')
%matplotlib inline

In [208]:
data = pd.read_csv('/Users/lukas/Desktop/USJH_order_dataset.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,29,30,34,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [209]:
data.head()

,Name,Financial Status,Paid at,Fulfillment Status,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,Total,...,Refunded Amount,Vendor,Tags,Risk Level,Source,Lineitem name.1,Color,Unnamed: 39,Unnamed: 40,Tax 3 Name
0,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,0.0,US Jewelry House,NaN,Low,web,Turquoise Crystal Rhinestone Ring,GDTQ,NaN,NaN,NaN
1,#4746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,US Jewelry House,NaN,NaN,NaN,Turquoise Crystal Rhinestone Ring,GDTQ,NaN,NaN,NaN
2,#4746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,impression,NaN,NaN,NaN,Tri Tone Cubic Zirconia Paved Simple Band Ring...,Size 8,NaN,NaN,NaN
3,#4746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Ella,NaN,NaN,NaN,Geometric Tortoise Link Long Necklace,Brown,NaN,NaN,NaN
4,#4746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Stylist,NaN,NaN,NaN,Acetate Skinny Bangle Bracelet With Front Clos...,White/Brown,NaN,NaN,NaN

In [210]:
#Dropping Unnamed: 39, Unnamed: 40, Tax 3 Name, Note Attributes, Tags
data.drop(['Unnamed: 39', 'Unnamed: 40', 'Tax 3 Name', 'Note Attributes', 'Tags', 'Shipping Address2'], axis=1, inplace=True)

In [211]:
#getting rid of spaces in column names
data.columns = data.columns.str.replace(" ","_")

Dealing w NA's

In [212]:
#filling NA's
fill_na_above = ['Financial_Status', 'Paid_at', 'Fulfillment_Status',
       'Accepts_Marketing', 'Currency', 'Subtotal', 'Shipping', 'Taxes',
       'Total', 'Shipping_Method', 'Shipping_Street', 'Shipping_Address1',
        'Shipping_Company', 'Shipping_City',
       'Shipping_Zip', 'Shipping_Province', 'Shipping_Country',
       'Payment_Method','Risk_Level', 'Source']
data.loc[:,fill_na_above] = data.loc[:,fill_na_above].fillna(method='ffill')
data.head()

,Name,Financial_Status,Paid_at,Fulfillment_Status,Accepts_Marketing,Currency,Subtotal,Shipping,Taxes,Total,...,Shipping_Country,Notes,Cancelled_at,Payment_Method,Refunded_Amount,Vendor,Risk_Level,Source,Lineitem_name.1,Color_
0,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,US,NaN,NaN,Shopify Payments,0.0,US Jewelry House,Low,web,Turquoise Crystal Rhinestone Ring,GDTQ
1,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,US,NaN,NaN,Shopify Payments,NaN,US Jewelry House,Low,web,Turquoise Crystal Rhinestone Ring,GDTQ
2,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,US,NaN,NaN,Shopify Payments,NaN,impression,Low,web,Tri Tone Cubic Zirconia Paved Simple Band Ring...,Size 8
3,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,US,NaN,NaN,Shopify Payments,NaN,Ella,Low,web,Geometric Tortoise Link Long Necklace,Brown
4,#4746,paid,7/16/18 12:31,unfulfilled,yes,USD,100.5,13.64,0.0,114.14,...,US,NaN,NaN,Shopify Payments,NaN,Stylist,Low,web,Acetate Skinny Bangle Bracelet With Front Clos...,White/Brown

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85925 entries, 0 to 85924
Data columns (total 36 columns):
Name                           85925 non-null object
Financial_Status               85925 non-null object
Paid_at                        85925 non-null object
Fulfillment_Status             85925 non-null object
Accepts_Marketing              85925 non-null object
Currency                       85925 non-null object
Subtotal                       85925 non-null float64
Shipping                       85925 non-null float64
Taxes                          85925 non-null float64
Total                          85925 non-null float64
Discount_Code                  407 non-null object
Discount_Amount                3746 non-null float64
Shipping_Method                85925 non-null object
Created_at                     85925 non-null object
Lineitem_quantity              85925 non-null int64
Lineitem_name                  85925 non-null object
Lineitem_price                 85925 non-null float64
Lineitem_compare_at_price      7050 non-null float64
Lineitem_sku                   41272 non-null object
Lineitem_fulfillment_status    85925 non-null object
Shipping_Street                85925 non-null object
Shipping_Address1              85925 non-null object
Shipping_Company               85925 non-null object
Shipping_City                  85925 non-null object
Shipping_Zip                   85925 non-null object
Shipping_Province              85925 non-null object
Shipping_Country               85925 non-null object
Notes                          264 non-null object
Cancelled_at                   56 non-null object
Payment_Method                 85925 non-null object
Refunded_Amount                3746 non-null float64
Vendor                         85790 non-null object
Risk_Level                     85925 non-null object
Source                         85925 non-null object
Lineitem_name.1                85925 non-null object
Color_                         75894 non-null object
dtypes: float64(8), int64(1), object(27)
memory usage: 23.6+ MB

In [214]:
#Filling in NA's w NoDiscount
data['Discount_Code'].fillna('NoDiscount', inplace=True)

In [215]:
#Filling in 0's where there was no discount
data['Discount_Amount'].fillna(0, inplace=True)

In [216]:
#Lineitem_compare_at_price same as originial price -> create mask from original price
mask = data['Lineitem_compare_at_price'].isnull()
filler = data['Lineitem_price'][mask]
data['Lineitem_compare_at_price'].fillna(filler, inplace=True)

In [217]:
#Lineitem_sku fill in NA's w nosku and convert to string
data['Lineitem_sku'] = data['Lineitem_sku'].astype(str)
data['Lineitem_sku'].fillna('NoSKU', inplace=True)

In [218]:
#Notes -> only 264 Notes, keep?
#In meantime, fill NA's w "NoNotes"
data['Notes'].fillna('NoNotes', inplace=True)

In [219]:
#Cancelled_at -> convert to categorical
data.Cancelled_at = data.Cancelled_at.isnull().astype(int)
data.columns = data.columns.str.replace('Cancelled_at', 'Cancelled')

In [220]:
#Filling in 0's where there was no refund
data['Refunded_Amount'].fillna(0, inplace=True)

In [221]:
#Filling in 'Unknown' for NA vendors
data['Vendor'].fillna('UnknownVendor', inplace=True)

In [222]:
#Filling in 'NoColor' for NA vendors
data['Color_'].fillna('NoColor', inplace=True)

Standardizing column names

In [223]:
data.columns = data.columns.str.replace("Lineitem_name.1", "Lineitem_name")
data.columns = data.columns.str.replace("Color_", "Color")

In [224]:
#converting to lowercase
data.columns = data.columns.str.lower()

Converting paid_at and created_at to datetime

In [225]:
data['paid_at'] = pd.to_datetime(data['paid_at'], format='%m/%d/%y %H:%M')

In [226]:
data['created_at'] = pd.to_datetime(data['created_at'], format='%m/%d/%y %H:%M')

Converting all strings to lowercase

In [252]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85925 entries, 0 to 85924
Data columns (total 36 columns):
name                           85925 non-null object
financial_status               85925 non-null object
paid_at                        85925 non-null datetime64[ns]
fulfillment_status             85925 non-null object
accepts_marketing              85925 non-null object
currency                       85925 non-null object
subtotal                       85925 non-null float64
shipping                       85925 non-null float64
taxes                          85925 non-null float64
total                          85925 non-null float64
discount_code                  85925 non-null object
discount_amount                85925 non-null float64
shipping_method                85925 non-null object
created_at                     85925 non-null datetime64[ns]
lineitem_quantity              85925 non-null int64
lineitem_name                  85925 non-null object
lineitem_price                 85925 non-null float64
lineitem_compare_at_price      85925 non-null float64
lineitem_sku                   85925 non-null object
lineitem_fulfillment_status    85925 non-null object
shipping_street                85925 non-null object
shipping_address1              85925 non-null object
shipping_company               85925 non-null object
shipping_city                  85925 non-null object
shipping_zip                   85925 non-null object
shipping_province              85925 non-null object
shipping_country               85925 non-null object
notes                          85925 non-null object
cancelled                      85925 non-null int64
payment_method                 85925 non-null object
refunded_amount                85925 non-null float64
vendor                         85925 non-null object
risk_level                     85925 non-null object
source                         85925 non-null object
lineitem_name                  85925 non-null object
color                          85925 non-null object
dtypes: datetime64[ns](2), float64(8), int64(2), object(24)
memory usage: 23.6+ MB

In [250]:
mask = data.select_dtypes(include=['object']).columns.tolist()
data[mask] = data.select_dtypes(include=['object']).apply(lambda x: x.astype(str).str.lower())

Creating category column

In [306]:
category = []

In [307]:
i=0

while i < len(data['lineitem_name']):
    
    el = data.iloc[i,15]
    
    if bool(re.search(".*(ear).*" , el)) == True:
        category.append('earring')
    elif bool(re.search(".*(necklace).*" , el)) == True:
        category.append('necklace')
    elif bool(re.search(".*(bracelet).*" , el)) == True:
        category.append('bracelet')
    elif bool(re.search(".*(tassel).*" , el)) == True:
        category.append('tassel')
    elif bool(re.search(".*(ring).*" , el)) == True:
        category.append('ring')
    elif bool(re.search(".*(mannequin).*" , el)) == True:
        category.append('mannequin')
    elif bool(re.search(".*(bead).*" , el)) == True:
        category.append('bead')
    else:
        category.append('other')
        
    i+=1

In [308]:
category = pd.Series(category)

In [315]:
data = pd.concat([data, category.rename('category')], axis=1)

In [280]:
#getting rid of duplicate column
data.columns = ['name',
 'financial_status',
 'paid_at',
 'fulfillment_status',
 'accepts_marketing',
 'currency',
 'subtotal',
 'shipping',
 'taxes',
 'total',
 'discount_code',
 'discount_amount',
 'shipping_method',
 'created_at',
 'lineitem_quantity',
 'lineitem_name',
 'lineitem_price',
 'lineitem_compare_at_price',
 'lineitem_sku',
 'lineitem_fulfillment_status',
 'shipping_street',
 'shipping_address1',
 'shipping_company',
 'shipping_city',
 'shipping_zip',
 'shipping_province',
 'shipping_country',
 'notes',
 'cancelled',
 'payment_method',
 'refunded_amount',
 'vendor',
 'risk_level',
 'source',
 'lineitem_name1',
 'color']

In [281]:
data.drop('lineitem_name1', axis=1, inplace=True)

In [316]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85925 entries, 0 to 85924
Data columns (total 36 columns):
name                           85925 non-null object
financial_status               85925 non-null object
paid_at                        85925 non-null datetime64[ns]
fulfillment_status             85925 non-null object
accepts_marketing              85925 non-null object
currency                       85925 non-null object
subtotal                       85925 non-null float64
shipping                       85925 non-null float64
taxes                          85925 non-null float64
total                          85925 non-null float64
discount_code                  85925 non-null object
discount_amount                85925 non-null float64
shipping_method                85925 non-null object
created_at                     85925 non-null datetime64[ns]
lineitem_quantity              85925 non-null int64
lineitem_name                  85925 non-null object
lineitem_price                 85925 non-null float64
lineitem_compare_at_price      85925 non-null float64
lineitem_sku                   85925 non-null object
lineitem_fulfillment_status    85925 non-null object
shipping_street                85925 non-null object
shipping_address1              85925 non-null object
shipping_company               85925 non-null object
shipping_city                  85925 non-null object
shipping_zip                   85925 non-null object
shipping_province              85925 non-null object
shipping_country               85925 non-null object
notes                          85925 non-null object
cancelled                      85925 non-null int64
payment_method                 85925 non-null object
refunded_amount                85925 non-null float64
vendor                         85925 non-null object
risk_level                     85925 non-null object
source                         85925 non-null object
color                          85925 non-null object
category                       85925 non-null object
dtypes: datetime64[ns](2), float64(8), int64(2), object(24)
memory usage: 23.6+ MB

Export to CSV

In [319]:
data.to_csv('cleanedUSJH.csv')